@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@font-face {
    font-family: 'sriracha';
    src: url('..fontes/Sriracha-Regular.ttf');
    font-weight: normal;
}
:root{
    --fonte-titulo:'passion one', 'cursive';
    --fonte-destaque: 'sriracha' , 'cursive';
}
*{
    margin: 0;
    padding: 0;
}
header h1{
    font-family: var(--fonte-titulo);
    font-size: 7em;
    text-align: center;
    background-color: black;
    color: white;
    padding: 60px;
    margin-bottom: -35px;
    
}
header p{
    font-size: 1.5em;
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 25px;
    padding-bottom: 40px;
}
header a{
    text-decoration: none;
    background-color: black;
    color: white
}
header a:hover{
    color: yellow;
    text-decoration: underline;
}
main p{
    font-family: var(--fonte-destaque);
    margin: 15px 0px;
    text-align: justify;
    text-indent: 3px;
    font-size: 2.6em;
}
div.paragrafo1{
    text-align: left;
    white-space: pre-wrap;
    text-indent: 10px;
}
div.paragrafo2{
    text-align: left;
    white-space: pre-wrap;
    text-indent: 10px;
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    color: white;
    background-color: rgba(0, 0, 0, 0.171);
}
div.paragrafo3{
    text-align: left;
    white-space: pre-wrap;
    text-indent: 10px;
}
div.paragrafo4{
    text-align: left;
    white-space: pre-wrap;
    text-indent: 10px;
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    color: black;
    background-color: rgba(0, 0, 0, 0.164);
}
div.paragrafo5{
    text-align: left;
    white-space: pre-wrap;
    text-indent: 10px;
}
div.paragrafo6{
    text-align: left;
    white-space: pre-wrap;
    text-indent: 10px;
    background-image: url(imagens/imagem0000.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    color: white;
    background-color: rgba(0, 0, 0, 0.137);
}
div.paragrafo7{
    text-align: left;
    white-space: pre-wrap;
    text-indent: 10px;
}
footer{
    padding: 5px;
    text-align: center;
    background-color: black;
    color: white;
}
footer a{
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.644);
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: yellow;
}